<!--This next line makes it a strongly typed view
    It also adds intelisens-->
@model EmployeeManagement.ViewModels.HomeDetailsViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Details.cshtml form Views/Home/</h1>
    <br />
    <h3>@Model.PageTitle</h3>

    <div>
        Name : @Model.Employee.Name
        <br />
        Email : @Model.Employee.Email
        <br />
        Department : @Model.Employee.Department
    </div>
</body>
</html>