<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Details.cshtml form Views/Home/</h1>
    <br />
    <h3>@ViewData["PageTitle"]</h3>

    @{ 
        var employee = ViewData["Employee"] as EmployeeManagement.Models.Employee;
    }
    <div>
        Name : @employee.Name
        <br />
        Email : @employee.Email
        <br />
        Department : @employee.Department
    </div>
</body>
</html>