<!--This next line makes it a strongly typed view
    It also adds intelisens-->
@model EmployeeManagement.ViewModels.HomeDetailsViewModel

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "Details Page";
}
    <h1>Details.cshtml form Views/Home/</h1>
    <br />
    <h3>@Model.PageTitle</h3>

    <div>
        Name : @Model.Employee.Name
        <br />
        Email : @Model.Employee.Email
        <br />
        Department : @Model.Employee.Department
    </div>
