<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Details.cshtml form Views/Home/</h1>
    <br />
    <h3>@ViewBag.PageTitle</h3>


    <div>
        Name : @ViewBag.employee.Name
        <br />
        Email : @ViewBag.employee.Email
        <br />
        Department : @ViewBag.employee.Department
    </div>
</body>
</html>