<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required:false)
</body>
</html>
<script src="~/lib/bootstrap/js/bootstrap.js"></script>
